
.card__like-button{
    background-color: rgba(0, 0, 0, 0);
    margin-right: 30px;
    border: none;
    padding: 0;
  }
  .card__like-button:hover {
    border: #000000;
    opacity: 0.5;
    cursor: pointer;
  }