.page {
  background-color: #000;
  font-family: "inter", Arial, sans-serif;
  font-style: normal;
  min-width: 300px;
  max-width: 1280px;
  margin: 0 auto;
  color: #fff;
}

.page__content {
  max-width: 880px;
  color: #fff;
  margin: 0 auto;
}

@media screen and (max-width: 900px) {
  .page__content {
    max-width: 600px;
  }
}
