.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  transition: opacity 0.6s;
  opacity: 0;
  visibility: hidden;
  
  
}

.popup_opened {
  opacity: 1;
  visibility: visible;
}

.popup__content {
  padding: 36px 36px;
  width: 100%;
  max-width: 358px;
  background-color: white;
  border-radius: 10px;
  position: relative;
}

.popup__close {
  position: absolute;
  top: -45px;
  right: -45px;
  background-color: rgba(0, 0, 0, 0.0);
  margin: 0;
  padding: 0;
  border: none;
}

.popup__close:hover {
  opacity: 0.6;
  cursor: pointer;
}

.close__button-img {
  width: 40px;
  height: 40px;
}
.popup__input {
  width: 100%;
  padding: 0;
  border: none;
  height: 27.26px;
  border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
  line-height: 17px;
  font-family: "Inter", "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 43px;
}

.popup__form-title {
  width: 330;
  margin: 0;
  font-family: "inter", "Arial";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  padding-bottom: 54px;
}

.popup__submit-btn {
  width: 100%;

  height: 50.15px;
  font-family: "inter", "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 2px;
}

.popup__submit-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.popup_type_card {
  background-color: white;
  color: black;
  max-width: 300px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.popup__card-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.popup__type_pic{
  width: 75vw;
  height: 75vh;
}

.popup__type_pic-title {
  position: absolute;
width: 240px;
height: 12px;
left: 40px;
top: 445px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;

color: #FFFFFF;


}

@media screen and (max-width: 450px) {
  .popup {
    margin: auto;
  }

  .popup__content {
    margin-left: 19px;
    margin-right: 19px;
    padding: 25px;

    
  }

  .popup__close {
    right: 0px;
    top: -45px;
  }
  .close__button-img {
    width: 26px;
    height: 26px;
  }

  .popup__input {
    min-width: 238px;
    margin-bottom: 30px;
  }
  .popup__form-title {
    font-size: 18px;
    line-height: 22px;
  }

  .popup__submit-btn {
    width: 282;
    font-size: 14px;
    line-height: 17px;
    margin-top: 30px;
  }
}


