.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    transition: opacity .6s;
    opacity: 0;
    visibility: hidden;

}

.popup_opened{
    opacity: 1;
    visibility: visible;
}

.popup__content{
    padding:20px;
    width: 100%;
    max-width: 430px;
    height: 330px;
    background-color: white;
    border-radius: 10px;
    position: relative;
}
.popup__close{
    position: absolute;
    top: -30px;
    right:0px ;
}
.popup__input{
    width: 100%;
}

.popup__label{
    display: block;
margin-top:15px;
}

.popup__submit-btn{
    width: 100%;
    margin-top: 30px;
}