.profile {
  display: flex;
  align-items: center;
  padding-bottom: 47.25px;
  justify-content: center;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin-right: 30px;
}

.profile__description {
  flex-grow: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.profile__description-title {
  display: flex;
  align-items: center;
}
.profile__title {
  font-family: "Inter", Arial;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}
.profile__subtitle {
  font-family: "Inter", Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-top: 16px;
  margin-bottom: 24.75px;
  max-width: 240px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.profile__edit-button {
  background-image: url(../images/Vector.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  margin-left: 18px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  
  
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
  
  
}
.profile__button-add {
  width: 150px;
  height: 50px;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
  border: #fff 2px solid;
  color: #fff;
  padding: 0;
  font-size: 44px;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}

.profile__button_add:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .profile {
    flex-direction: column;
    padding: 0;
    margin: 42px 19px 36px 19px;
  }
  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
    margin-top: 14px;
    margin-bottom: 36px;
    max-width: 250px;
  }
  .profile__button_add {
    width: 100%;
    margin: 0;
  }
  .profile__edit-button {
    width: 16px;
    height: 16px;
  }
  .profile__title {
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    padding: 0;
    max-width: 250px;
  }
  .profile__description-title {
    padding-top: 26.25px;
  }
  .profile__description {
    align-items: center;
    text-align: center;
  }
  .profile__edit {
    margin-left: 10px;
    width: 18px;
    height: 18px;
  }
  .profile__avatar {
    margin-right: 0;
  }
}
